body {
  font-family: Verdana, Arial, sans-serif;
  color: #606060;
  font-size: .9em;
}
.container {
  margin: auto;
  width: 800px;
}
#header {
  margin: auto;
  padding: 15px;
  border: solid 1px #314B9D;
  background: #8FA5ED;
  overflow: hidden;
}
#header a {
  color: #606060;
}
#header a:hover {
  text-decoration: none;
}
#title-area {
  float: left;
}
#title {
  font-family: "Courier", fixed-width;
  font-size: 2em;
  margin: 0 0 0 130px;
}
#biline {
  margin: 0 0 0 170px;
  font-size: 1em;
  font-weight: normal;
}
#subscribe-area {
  float: right;
}
.subscribe-area-item {
  margin: 2px 0;
  padding: 0;
}
#sidebar {
  width: 240px;
  float: right;
  border: solid 1px #606060;
  background: #C9C9C9;
  margin: 15px 0 0 15px;
  padding: 15px;
}
#sidebar a:visited {
  color: #314B9D;
}
#pic {
  float: right;
  padding: 0 0 5px 5px;
}
.blurb-heading {
  font-size: 1.1em;
  margin: 0;
  padding: 15px 0 5px 0;
}
.top-heading {
  padding-top: 0;
}
#adsense-block {
  margin: auto;
  width: 160px;
  padding: 15px 0 0 0;
}
#content {
  float: left;
  width: 499px;
  margin: 15px 10px 0 0;
}
.content-heading {
  font-size: 1.3em;
  margin: 0;
  padding: 0 0 5px 0;
}
#post-date {
  margin: 0 0 0 15px;
}
#footer {
  clear: both;
  text-align: center;
  margin: 5px;
}
a {
color: #314B9D;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
a:active, a:visited {
color: #8FA5ED;
}
ul {
list-style-type: none;
list-style-image: none;
list-style-position: inside;
margin: 0 0 0 -25px;
}
