---
layout: default
title: "A linky diary"
---
<hr>
<b class="content-heading">Recent Posts</b`>
<ul>
  {% for post in site.posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<br/>
<b class="content-heading">Older...</b>
<ul>
  {% for post in site.posts offset:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
