<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" href="/css/hellosorld.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon"/>
    <title>"Scholarist" : {{ page.title }}</title>
    <meta name="description" content="A linky diary"> 
  </head>
  <body>
    <div class="container">
      <div id="header">
        <div id="title-area">
          <h1 id="title"><a href="/">Scholarist</a></h1>
          <h2 id="biline">A linky diary</h2> 
        </div>
        </div>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div id="sidebar">
        
        <div class="blurb">
          <h2 class="blurb-heading top-heading"><a href="/">Kevin Welch</a>:</h2>
          <br/>
          mail: <a href="mailto:kw@scholarist.net">Kevin Welch</a>
          <br/>
          <br/>
          <br/>
        </div>
        <div class="blurb">
          <h2 class="blurb-heading">Stuff I'm Doing (Or Did):</h2>
        </div>
        <div class="blurb">
        </div>
        <div class="blurb">
      </div>
      
      <div id="footer">
        &copy; 2009 amb
        |
        this site's
        <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fhellosorld.com%2F" target="_blank">html</a>
        and
        <a href="http://jigsaw.w3.org/css-validator/check/referer">css</a>
        are
        <a href="http://validator.w3.org" target="_blank">valid</a>
      </div>
    </div>
  </body>
</html>
