<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" href="/css/hellosorld.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon"/>
    <title>"Hello Sorld!" : {{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <div id="title-area">
          <h1 id="title"><a href="/">"Hello Sorld!"</a></h1>
          <h2 id="biline">a blog by Andrew Benton</h2>
        </div>
        <div id="subscribe-area">
          <p class="subscribe-area-item"><a href="http://feeds.feedburner.com/hellosorld" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/hellosorld" rel="alternate" type="application/rss+xml">Subscribe</a></p>
          <p class="subscribe-area-item"><a href="http://fusion.google.com/add?feedurl=http://feeds.feedburner.com/hellosorld"><img src="http://buttons.googlesyndication.com/fusion/add.gif" width="104" height="17" style="border:0" alt="Add to Google Reader or Homepage"/></a></p>
        </div>
      </div>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div id="sidebar">
        
        <div class="blurb">
          <img id="pic" alt="Andrew Benton, PhD dropout turned web-software developer"src="/images/pic.jpg" width="96" height="96"/>
          <h2 class="blurb-heading top-heading">Andrew Benton:</h2>
          I'm a PhD dropout living in San Francisco fooling around with software development.
          <br/>
          <br/>
          gmail: andrewmbenton
          <br/>
          photos: <a href="http://picasaweb.google.com/andrewmbenton" target="_blank">on picasa</a>
          <br/>
          github: <a href="http://github.com/stanleydrew" target="_blank">github.com/stanleydrew</a>
          <br/>
          fb: <a href="http://www.facebook.com/stanleydrew" target="_blank">facebook.com/stanleydrew</a>
          <br/>
          twitter: <a href="http://twitter.com/stanleydrew" target="_blank">twitter.com/stanleydrew</a>
        </div>
        <div class="blurb">
          <h2 class="blurb-heading">Stuff I'm Doing:</h2>
          <a href="http://rushhq.com" target="_blank">RushHQ (rushhq.com)</a>
          <br/>
          <a href="http://ctclimatechange.com" target="_blank">CT Climate Change</a>
          <br/>
          <a href="http://moneyadvisor.com" target="_blank">MoneyAdvisor (in progress)</a>
        </div>
        <div class="blurb">
          <h2 class="blurb-heading">Stuff I'm Reading:</h2>
          <a href="http://news.ycombinator.com" target="_blank">Hacker News</a>
          <br/>
          <a href="http://www.paulgraham.com/articles.html" target="_blank">Paul Graham </a>
          <br/>
          <a href="http://www.avc.com" target="_blank">Fred Wilson (www.avc.com)</a>
          <br/>
          <a href="http://steveblank.com" target="_blank">Steve Blank</a>
        </div>
        <div class="blurb">
          <h2 class="blurb-heading">Friends' Stuff:</h2>
          <a href="http://www.leetobey.com" target="_blank">Lee Tobey</a>
          <br/>
          <a href="http://shinyfork.wordpress.com" target="_blank">Shiny Fork</a>
          <br/>
          <a href="http://www.digressionsofanadman.com/" target="_blank">Dave Linder</a>
        </div>
        <div id="adsense-block">
          <script type="text/javascript"><!--
          google_ad_client = "pub-4262635166065541";
          /* ads-0.1 */
          google_ad_slot = "4226602440";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      </div>
      
      <div id="footer">
        &copy; 2009 ab
      </div>
    </div>
    <script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
    <script type="text/javascript">try { var pageTracker = _gat._getTracker("UA-9782837-1"); pageTracker._trackPageview(); } catch(err) {}</script>
  </body>
</html>
