<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" href="/css/hellosorld.css" rel="stylesheet">
    <link href="/images/favicon.ico" rel="shortcut icon"/>
    <title>hellosorld.com - {{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <div id="header">
          <h1 id="title">"Hello Sorld!"</h1>
          <h2 id="biline">a weblog by Andrew Benton</h2>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        &copy; 2009 ab
      </div>
    </div>
    <script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
    <script type="text/javascript">try { var pageTracker = _gat._getTracker("UA-9782837-1"); pageTracker._trackPageview(); } catch(err) {}</script>
  </body>
</html>
